<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Site Title ({{ name }})</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <div style="padding: 24px;">
      <p style="margin: 0;">My Cool Content Start</p>
      <div style="height: 600px;"></div>
      <p style="margin: 0;">My Cool Content End</p>
    </div>
  </ion-content>

  <ion-footer class="ion-no-border">
    <ion-toolbar style="--min-height: initial; padding: 24px 24px 0 24px;">
      <p style="margin: 0;">Bla Bla Bla</p>
    </ion-toolbar>
    <ion-toolbar style="padding: 24px;">
      <button style="width: 100%; height: 56px;">Save</button>
    </ion-toolbar>
  </ion-footer>
</ion-app>
