<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'common.my_wallets' | transloco }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="p-24">

    <ng-container *ngIf="wallets$ | async as wallets; else loading">

      <ng-container *ngIf="wallets.length > 0; else empty">

        <ul class="d-flex flex-col g-48">
          <li *ngFor="let wallet of wallets;trackBy:trackById;let i = index">
            <header class="d-flex flex-c-v">
              <h2 class="typo-h6 color-primary" *ngIf="wallet.name">{{ wallet.name }}</h2>

              <div style="flex: 1 1 auto"></div>
              <button aura-icon-button (click)="presentActionSheet(wallet)">
                <aura-icon svgIcon="more_vert"></aura-icon>
              </button>
            </header>

            <p class="text-cut">{{ wallet.verified ? wallet.stake_address : wallet.address}}</p>

            <ng-container [ngSwitch]="wallet.verified">

              <ul *ngSwitchCase="true" class="collections m-t-16">
                <li *ngFor="let collection of wallet.collections"
                  [routerLink]="['/wallet',wallet.id,'collection',collection.name]">
                  <div class="images" [ngClass]="getCollectionClass(collection)">
                    <ng-container *ngFor="let thumbnail of collection.thumbnails; let i = index">
                      <aura-image [aspectRatio]="getAspectRatio(collection.tokens, i)" [src]="thumbnail"></aura-image>
                    </ng-container>
                  </div>
                  <caption class="d-flex typo-very-small">
                    <span>{{ collection.name }}</span>
                    <div style="flex: 1 1 auto"></div>
                    <span>{{ collection.tokens }}</span>
                  </caption>
                </li>
              </ul>

              <div class="p-t-24 d-flex flex-col flex-c g-12" *ngSwitchCase="false" [routerLink]="['/wallet/confirm']"
                [queryParams]="{wallet:wallet.id}">
                <aura-spinner></aura-spinner>
                <p>Verifying</p>
              </div>

            </ng-container>

          </li>
        </ul>

      </ng-container>

    </ng-container>

  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="p-r-24 p-b-24 p-l-24">
    <button style="width: 100%;" aura-flat-button size="large" routerLink="/wallet/connect">Connect wallet</button>
  </ion-toolbar>
</ion-footer>

<ng-template #loading> Loading </ng-template>

<ng-template #empty>
  <div class="no-wallet-connected p-t-48 d-flex flex-col j-c-center g-32">
    <div class="d-flex">
      <aura-image src="assets/img/feature/wallet/no-cash.png"></aura-image>
    </div>
    <h2 class="typo-h6 text-align-center">No Wallet Connected</h2>
  </div>
</ng-template>